 <footer>
    <div class="footer-left">
      <h3>Footer Left</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, aspernatur magni eaque unde harum et voluptatum, quo aliquam error ab voluptas amet ex fugit! In minima aliquid, dolor suscipit nisi!</p>
    </div>
    <div class="footer-right">
      <h3>Footer Right</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque molestiae, pariatur optio rem aspernatur ducimus dolor vitae eum repellat facere nihil expedita aliquid consectetur corporis reiciendis vel quo voluptatum. Accusamus.</p>
    </div>
  </footer>
</body>

</html>