.container,
.header-wrapper,
footer {
  margin: 0 auto;
  width: 88%;
  max-width: 1080px;
}

footer,
.header-wrapper {
  padding: 1em;
  width: 100%;
}

header {
  width: 100%;
  background: #2b3749;
}

footer {
  background: #124d7a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-left {
  max-width: 45%;
}

.footer-right {
  max-width: 45%;
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #2b3749;
  align-items: center;
}

.header-left {
  width: 50%;
}

.header-right {
  width: 50%;
}

nav {
  display: block;
  float: right;
}

nav ul {
  flex-direction: row;
  list-style: none;
  padding: 0;
  display: flex;
  /*margin-top: 4.1em;*/
}

nav ul li a {
  color: #ffffff;
  margin: 0 2em 0 0;
  padding: 0.5em 1em;
}

nav ul li a:hover {
  background-color: #ffffff;
  color: #2b3749;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.wrapper {
  padding: 1em 0;
  background: #e2e1e0;
}

.avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 5px white solid;
  margin: 1em 1em 1em 0;
  float: left;
}

mark {
  background: #ffeea8;
  padding: 0 .2rem;
}

code {
  color: #1b375e;
  background: transparent;
  font-family: Menlo, monospace;
  font-size: 14px;
  padding: 0 .2rem;
  border: 1px solid #7990b0;
  border-radius: 4px;
  text-shadow: 0 1px 0 #fff;
}

kbd {
  background-color: transparent;
  border: 1px solid #7990b0;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .2), inset 0 0 0 1px #fff;
  color: #1b375e;
  display: inline-block;
  font-size: 14px;
  line-height: 1.4;
  margin: 0 .1em;
  padding: .1em .6em;
  text-shadow: 0 1px 0 #fff;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

blockquote {
  margin: 0 0 1.5rem;
  border-left: 16px solid #7990b0;
  padding: 0 1.5rem;
  font-size: 1.5rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  margin: 0 0 1.5rem
}

thead th {
  border-bottom: 2px solid #7990b0
}

tfoot th {
  border-top: 2px solid #7990b0
}

td {
  border-bottom: 1px solid #7990b0
}

td,
th {
  text-align: left;
  padding: .5rem
}

caption {
  padding: 1rem 0;
  caption-side: bottom;
  color: #7990b0
}

.striped-table tbody tr:nth-child(odd) {
  background-color: #f8f8f8
}

.contain-table {
  overflow-x: auto
}

[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
select,
textarea {
  display: block;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  padding: .75rem;
  outline: none;
  vertical-align: middle;
  background: transparent;
  margin-bottom: .5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1
}

[type=color]:hover,
[type=date]:hover,
[type=datetime-local]:hover,
[type=datetime]:hover,
[type=email]:hover,
[type=month]:hover,
[type=number]:hover,
[type=password]:hover,
[type=search]:hover,
[type=tel]:hover,
[type=text]:hover,
[type=time]:hover,
[type=url]:hover,
[type=week]:hover,
select:hover,
textarea:hover {
  border: 1px solid #b4b4b4
}

[type=color]:active,
[type=color]:focus,
[type=date]:active,
[type=date]:focus,
[type=datetime-local]:active,
[type=datetime-local]:focus,
[type=datetime]:active,
[type=datetime]:focus,
[type=email]:active,
[type=email]:focus,
[type=month]:active,
[type=month]:focus,
[type=number]:active,
[type=number]:focus,
[type=password]:active,
[type=password]:focus,
[type=search]:active,
[type=search]:focus,
[type=tel]:active,
[type=tel]:focus,
[type=text]:active,
[type=text]:focus,
[type=time]:active,
[type=time]:focus,
[type=url]:active,
[type=url]:focus,
[type=week]:active,
[type=week]:focus,
select:active,
select:focus,
textarea:active,
textarea:focus {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1), 0 0 6px #8cbcfe
}

textarea {
  overflow: auto;
  height: auto
}

fieldset {
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 1rem;
  margin: 1.5rem 0
}

legend {
  padding: 0 .5rem;
  font-weight: 600
}

select {
  color: #404040;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJCAYAAAA/33wPAAAAvklEQVQoFY2QMQqEMBBFv7ERa/EMXkGw11K8QbDXzuN4BHv7QO6ifUgj7v4UAdlVM8Uwf+b9YZJISnlqrfEUZVlinucnBGKaJgghbiHOyLyFKIoCbdvecpyReYvo/Ma2bajrGtbaC58kCdZ1RZ7nl/4/4d5EsO/7nzl7IUtodBexMMagaRrs+06JLMvcNWmaOv2W/C/TMAyD58dxROgSmvxFFMdxoOs6lliWBXEcuzokXRbRoJRyvqqqQvye+QDMDz1D6yuj9wAAAABJRU5ErkJggg==) 100% no-repeat;
  line-height: 1
}

input.has-error,
input.has-error:active,
input.has-error:focus,
input.has-error:hover,
select.has-error,
select.has-error:active,
select.has-error:focus,
select.has-error:hover,
textarea.has-error,
textarea.has-error:active,
textarea.has-error:focus,
textarea.has-error:hover {
  border: 1px solid #d33c40;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1), 0 0 6px #f4cecf
}

.button:active,
.button:focus,
.button:hover,
[type=button]:active,
[type=button]:focus,
[type=button]:hover,
[type=reset]:active,
[type=reset]:focus,
[type=reset]:hover,
[type=submit]:active,
[type=submit]:focus,
[type=submit]:hover,
a.button:active,
a.button:focus,
a.button:hover,
button:active,
button:focus,
button:hover {
  border: 1px solid #64070f;
  background: #64070f;
  color: #fff;
  text-decoration: none
}

.button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
a.button::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0
}

.button,
[type=button],
[type=reset],
[type=submit],
a.button,
button {
  -webkit-appearance: none;
  display: inline-block;
  border: 1px solid #a11321;
  border-radius: 4px;
  background: #a11321;
  color: #fff;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: .75rem 1.25rem;
  margin: 0 0 .5rem;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1
}
